@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

body,
html {
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Nav styling */

header {
  height: 111.62px;
}

#logo {
  font-size: 25.35px;
  font-weight: 900;
  line-height: 40.27px;
  text-align: left;
  color: black;
}

nav a {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.92px;
  text-align: right;
  color: #4d4d4d;
}

a {
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
  color: #161616;
  text-underline-offset: 3px;
}

/* Footer styling */
footer {
  background: #252525;
  height: 74.75px;
  padding: 25.68px 106.28px 25.15px 106px;
  opacity: 0px;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;
  margin: 0;
  color: #aaaaaa;
}

/* Hero styling */
.hero {
  background: #00000075;
  padding: 6rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.75)),
    url("./assets/home-hero.png") no-repeat center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}

.hero p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.hero button {
  border: none;
  border-radius: 5px;
  background: #ff8c38;
  cursor: pointer;
  height: 49.83px;
}

.hero a {
  display: block;
  text-decoration: none;
  font-size: 15.95px;
  font-weight: 700;
  line-height: 31.66px;
  text-align: center;
  color: #ffffff;
}

.hero a:hover {
  color: #f1f1f1;
}

.hero button:hover {
  transform: translate(1px, 1px);
}

/* ABOUT STYLING */

.about img {
  width: 100%;
  height: 233.21px;
}

.about h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #161616;
}

.about p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #161616;
}

.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 5px;
  padding: 2rem 2rem;
  background-color: #ffcc8d;
}

.explore-container h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.explore-container button {
  width: 174px;
  height: 49px;
  border-radius: 10px;
  background: #161616;
  border: none;
}

.explore-container a {
  font-size: 15.95px;
  font-weight: 700;
  line-height: 23.92px;
  text-align: left;
  color: #ffffff;
}

.explore-container a:hover {
  color: #f1f1f1;
}

.explore-container button:hover {
  transform: translate(1px, 1px);
}

/* STYLING VANS PAGE */
.vans h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.65px;
  color: #161616;
}

.vans img {
  border-radius: 5px;
}

.vans h3 {
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18.66px;
  color: #161616;
  margin: 0;
}

.vans h4 {
  font-size: 14px;
  font-weight: 600;
  color: #161616;
  margin: 0;
}

.vans h5 {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #161616;
  margin: 0;
}

.vans button,
.van-type {
  width: 65.71px;
  height: 33.89px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: capitalize;

  font-size: 12px;
  font-weight: 600;
  line-height: 14.66px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-filter {
  background-color: #ffead0;
}

.clear {
  font-size: 14px;
  font-weight: 500;
  line-height: 23.92px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #4d4d4d !important;
  background: none;
  
}

.hov-simple:hover,
.hov-simple:active,
.simple {
  background: #e17654;
  color: #ffffff !important;
}

.hov-rugged:hover,
.rugged {
  background: #115e59;
  color: #ffffff !important;
}

.hov-luxury:hover,
.luxury {
  background-color: #161616;
  color: #ffffff !important;
}

/* Van detail styling */
.van-detail img {
  border: 5px;
}

.van-detail button {
  height: 33.89px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0rem 1rem;

  font-size: 16px;
  font-weight: 600;
  line-height: 31.66px;

  margin: 1rem 0 0 0;
}

.van-detail h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.65px;
  color: #161616;
  margin: 1rem 0 0 0;
}

.van-detail h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 44.15px;
  margin: 1rem 0 0 0;
}

.van-detail span {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.van-detail p {
  font-size: 16px;
  font-weight: 500;
  line-height: 23.92px;
  color: #161616;
}

.van-detail .rent {
  width: 100%;
  height: 49.83px;
  border-radius: 4.98px;

  font-size: 18px;
  font-weight: 700;
  line-height: 31.66px;
  color: #ffffff;

  background: #ff8c38;
}

/* /* Host styling  */

/* Dashboard styling */

.dashboard {
  margin-top: 1rem;
}

.dashboard .welcome {
  height: 219px;
  background-color: #ffead0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.dashboard .welcome h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  color: #161616;
}

.dashboard .welcome p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #4d4d4d;
}

.dashboard .welcome span {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #161616;

  text-decoration: underline;
  text-underline-offset: 3px;
}

.dashboard .welcome h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #161616;
}

.dashboard .review {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard .review h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  color: #161616;
}

.dashboard .review h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #161616;
  margin: 0;
}

.dashboard .review span {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #4d4d4d;
}

.dashboard .review p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #161616;
  margin: 0 0 0 auto;
}

.dashboard .listed-vans h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  color: #161616;
}

.dashboard .listed-vans h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #161616;
}
.dashboard .listed-vans h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #161616;
}

.dashboard .listed-vans p {
  font-size: 16px;
  font-weight: 500;
  line-height: 31.66px;
  color: #4d4d4d;
}

.dashboard .listed-vans img {
  border-radius: 5px;
  height: 65.88px;
  width: 65.88px;
}

.details .info {
  font-size: 14.35px;
  font-weight: 700;
  line-height: 21.46px;
  color: #161616;
}

.details .info span {
  font-family: Inter;
  font-size: 14.35px;
  font-weight: 500;
  line-height: 21.46px;
  text-align: left;
}

/* HOST REVIEWS STYLING */
.host-reviews h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.65px;
  margin: 0;

  color: #161616;
}

.host-reviews p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  color: #161616;
}

.host-reviews .title p {
  color: #4d4d4d;
}

.host-reviews .title span {
  color: #161616;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;
}

.host-reviews .ratings p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.92px;
  margin: 0;
  color: #4d4d4d;
}

.host-reviews h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.92px;
  color: #161616;
}

.review-card h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 31.66px;
  color: #161616;
}

.review-card span {
  color: #8c8c8c;
}

.review-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.16px;
  color: #161616;
}

.income {
  color: #161616;
}

.income h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 2rem;
}

.income p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #4d4d4d;
  margin: 0;
}

.income span {
  font-weight: 600;
  color: #161616;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.income h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
  margin-top: 2rem;
}

.income g {
  color: #4d4d4d;
}

.income h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.income .transaction {
  height: 102px;
  border-radius: 6px;
  background: #ffffff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.income h5 {
  font-size: 28px;
  font-weight: 600;
  line-height: 31.66px;
}

.income .transaction p {
  font-size: 18px;
  line-height: 31.66px;
}
